body {
  background-color: rgba(0, 0, 0, 0.99);
  display:flex;
  overflow: hidden;
}
.navegasion {
  margin-left: 200px;
  width: 220px;
  height: 770px; /* <--- AUMENTA EL ANCHO para que quepa el texto */
  border-right: 1px solid rgb(255, 255, 255,0.3);
  padding: 20px 0;
  margin-top: -7px;/* Espacio arriba */

}

.navegasion .iconos {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  gap: 60px;
  list-style-type: none;
  padding: 0;
  margin: 0;

}
.navegasion .iconos li {
  background-color: rgba(240, 248, 255, 0);
  display: flex;
  align-items: center; /* Centra el búho y el texto verticalmente */
  gap: 15px;           /* Espacio entre el búho y el texto */
  /* Un poco de espacio a la izquierda para que no se pegue al borde */
  padding-left: 25px; 
}
.navegasion .iconos img {
  width: 35px;
  height: 45px;
  object-fit: contain; 
}
.navegasion .iconos li span {
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #ffffffe6; /* Un color de texto oscuro */
  font-size: 16px;
}
.documentos {
  flex-grow: 1;
  margin-top: -9px;
  align-items: center;
  color: #ffffffe6;
  background-color: rgba(234, 234, 234, 0);
  width: 650px;
  border-right: 1px solid rgb(255, 255, 255,0.3);
  overflow-y: auto;
  height: 100vh;

}
/* 1. El ancho total de la barra de scroll */
.documentos::-webkit-scrollbar {
  width: 5px;
}
/* 2. El "camino" o fondo de la barra */
.documentos::-webkit-scrollbar-track {
  background: #161616ad; /* Un gris oscuro para el fondo */
  border-radius: 10px;
}
/* 3. La barra (el "pulgar") que se mueve */
.documentos::-webkit-scrollbar-thumb {
  background-color: #888; /* Un gris claro para la barra */
  border-radius: 10px;
  height: 2px;

}
.post{
  border-top: 1px solid rgb(255, 255, 255,0.3);
  border-bottom: 1px solid rgb(255, 255, 255,0.3);

}
main{
  display: flex;
  background-color: rgba(255, 0, 0, 0);
}
.cargar{
  margin-left: 65px;
  display: flex;
  color: rgb(255, 255, 255);
 
  background-color: #ffffff00;
  align-items: center;
  
}
.cargar form{
  width: 400px;
  height: 600px;
  background-color: rgba(255, 228, 196, 0);
  border: 1px solid rgb(255, 255, 255,0.3);
  border-radius: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;

  
}
.cargar h3{
  margin-top: 50px;
}
.cargar .form-grupo{
  margin-top: 50px;
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 10px;

}
.cargar textarea{
  width: 300px;
  color: #ffffff;
  height: 40px;
  background-color: #141313;
  border: 1px solid rgb(255, 255, 255,0.2);
  border-radius: 10px
  
}

